
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    li a {
        font-family: 'Aclonica', sans-serif;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
} */